# Gradle
.gradle
build/
!build/libs/

# IDE files
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
*.class

# Logs and temp files
logs/
*.log
*.tmp
*.swp

# Server-specific files
server/
!server/plugins/
!server/plugins/.paper-remapped
!server/plugins/bStats
!server/plugins/spark
!server/eula.txt
!server/purpur.yml
!server/spigot.yml
!server/bukkit.yml
!server/commands.yml
!server/help.yml
!server/server.properties
server.pid

# Other
*~
out/
bin/
